
<ion-view view-title="Food Finder">
	
	
	<ion-content id="foodContainer">
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('antipasto')">
						
						<img class="full-image" src="img/food/antipasto.jpg" />
						<p>Antipasto</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('bbq')">
						<img class="full-image" src="img/food/bbq.jpg" />
						<p>BBQ</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row row-bottom">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('beans')">
						
						<img class="full-image" src="img/food/beans-and-pulses.jpg" />
						<p>Beans & Pulses</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('beef')">
						<img class="full-image" src="img/food/beef.jpg" />
						<p>Beef</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('blue cheese')">
						
						<img class="full-image" src="img/food/blue-cheese.jpg" />
						<p>Blue Cheese</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('chicken')">
						<img class="full-image" src="img/food/chicken.jpg" />
						<p>Chicken</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('chip')">
						
						<img class="full-image" src="img/food/chip-and-dip.jpg" />
						<p>Chip & Dip</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('creamy sauce')">
						<img class="full-image" src="img/food/creamy-sauce.jpg" />
						<p>Creamy Sauce</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('crustaceans')">
						
						<img class="full-image" src="img/food/crustaceans.jpg" />
						<p>Crustaceans</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('duck')">
						<img class="full-image" src="img/food/duck.png" />
						<p>Duck</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('fresh cheese')">
						
						<img class="full-image" src="img/food/fresh-cheese.png" />
						<p>Fresh Cheese</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('lamb')">
						<img class="full-image" src="img/food/lamb.png" />
						<p>Lamb</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('lightly dressed pasta')">
						
						<img class="full-image" src="img/food/lightly-dressed-pasta.jpg" />
						<p>Lightly Dressed Pasta</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('pizza')">
						<img class="full-image" src="img/food/pizza.jpg" />
						<p>Pizza</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('pork')">
						
						<img class="full-image" src="img/food/pork.png" />
						<p>Pork</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('fish')">
						<img class="full-image" src="img/food/rich-and-oily-fish.jpg" />
						<p>Rich & Oily Fish</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('salad')">
						
						<img class="full-image" src="img/food/salad.jpg" />
						<p>Salad</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('shellfish')">
						<img class="full-image" src="img/food/shellfish.jpg" />
						<p>Shellfish</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('spicy')">
						
						<img class="full-image" src="img/food/spicy.jpg" />
						<p>Spicy</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('stir fry')">
						<img class="full-image" src="img/food/stir-fry.jpg" />
						<p>Stir Fry</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('sushi')">
						
						<img class="full-image" src="img/food/sushi.jpg" />
						<p>Sushi, Raw fish</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('sweet')">
						<img class="full-image" src="img/food/sweet-dessert.png" />
						<p>Sweet / Dessert</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('tomato')">
						<img class="full-image" src="img/food/tomato-based-sauce.png" />
						<p>Tomato Based Sauce</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('venison')">
						<img class="full-image" src="img/food/venison.jpg" />
						<p>Venison</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('white cheese')">
						
						<img class="full-image" src="img/food/white-cheese.png" />
						<p>White Cheese</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('white fish')">
						<img class="full-image" src="img/food/white-fish.jpg" />
						<p>White Fish</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="item item-body" ng-click="openWineList('yellow cheese')">
						<img class="full-image" src="img/food/yellow-cheese.jpg" />
						<p>Yellow cheese</p>
					</div>
				</div>
			</div>
			
			<div class="col">
				
			</div>
		</div>
		
		
		
		
	</ion-content>
	
	
</ion-view>

